@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<section class="wrap-column div-section">
    <div class="container">
        <div class="row justify-content-center">
            @if (Model.HasValue("columnItem"))
            {
                var components = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("columnItem");

                foreach (var content in components.ToContentSet())
                {
                    @Html.Partial(string.Format("~/Views/Partials/Nested/{0}.cshtml", content.DocumentTypeAlias), content)
                }

            }
        </div>
    </div>
</section>